.testimonial .slick_arrow.slick_prev,
.testimonial .slick_arrow.slick_next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.testimonial .slick_prev::before,
.testimonial .slick_next::before {
  display: none;
}
.testimonial .slick_arrow.slick_next {
  right: -70px;
}
.testimonial .slick_arrow.slick_prev {
  left: -70px;
}
.testimonial .slick_dots li button:before {
  font-size: 15px;
}
.testimonial .slick_dots li {
  top: 15px;
}
